#navbar {
  color: bisque;
  font-size: 25px;
}
@media only screen and (min-width: 800px) {
  #navbar {
    display: block;
    width: 300px;
  }
}

#main-doc {
  margin-top: 30px;
}
#navbar {
  position: fixed;
}

.container {
  position: absolute;
  left: 400px;
}

header {
  color: blue;
  font-size: 25px;
}

.main-section {
  margin: 30px 5px;
  padding: 10px 10px;
  border: 5px solid black;
}
